<li
  class="nav-item dropdown-item"
  #dropdown="ngbDropdown"
  ngbDropdown
  [autoClose]="autoClose"
  (click)="openPage()"
>
  @if (isHasChildren) {
    <a class="nav-link" ngbDropdownToggle>
      <i [ngClass]="menuItem.icon" class="bi"></i>
      {{ menuItem.title }}
    </a>
  } @else {
    <a class="nav-link">
      <i [ngClass]="menuItem.icon" class="bi"></i>
      {{ menuItem.title }}
    </a>
  }

  <ul
    class="dropdown-menu"
    [class.dropdown-submenu]="type === MenuType.SUB"
    aria-labelledby="navbarDropdownMenuLink"
    ngbDropdownMenu
  >
    @for (item of menuItem.children; track item.title) {
      <app-menu-item
        (click)="closeMenu(item, $event)"
        [menuItem]="item"
        [type]="MenuType.SUB"
      ></app-menu-item>
    }
  </ul>
</li>
