@import "../../../../../src/assets/styles/variables";

:host {
  display: flex;
  align-items: center;

  .nav-item {
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;

    .nav-link {
      padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);

      &--empty {
        &::after {
          display: none;
        }
      }

      &:hover {
        &::after {
          transform: rotate(-90deg);
        }
      }

      i {
        margin-right: 5px;
      }
    }
  }

  .dropdown-submenu {
    top: -$menuItemOffset;
    left: 100%
  }
}
